html {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
  color: #757575;
  margin: 0;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

h1,
h2,
h3,
p {
  margin-top: 0;
}

.list {
  list-style: none;
  margin-left: 0px;
  margin-top: 0px;
  padding-left: 0px;
}

li {
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

:root {
  --text-general-top: 'Roboto', sans-serif;
  --prymory-text-color: #757575;
  --title-text-color: #212121;
  --whiet-text-color: #ffffff;
  --hover-focus-color: #2196f3;
  --black-text-color: #000000;
  --background-fone: #2f303a;
  --grid-set: 2;
  --transition-transform: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  --transition-oll: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

.container {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 60px;
  padding-bottom: 60px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 480px) {
  .container {
    max-width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
    padding-top: 90px;
    padding-bottom: 90px;
  }
}

.header--line {
  position: relative;
  background-color: #ffffff;
  border-bottom: 1px solid #ececec;
}

.container-nav {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  padding-top: 24px;
  padding-bottom: 25px;
}

.nav {
  display: flex;
  align-items: center;
}

.menu {
  display: flex;
  margin-bottom: 0px;
}

.menu__item:not(:last-child) {
  margin-right: 50px;
}

.menu__link-title-text:hover, .menu__link-title-text:focus {
  color: var(--hover-focus-color);
}

.menu__link-title-text {
  padding-top: 20px;
  padding-bottom: 31px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: var(--title-text-color);
}

.menu_link--active {
  color: var(--hover-focus-color);
}

.logo-decor__start, .logo-decor__end {
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
}

.logo-decor {
  display: block;
  text-decoration: none;
  margin-right: 93px;
}

.logo-decor__start {
  color: var(--hover-focus-color);
}

.logo-decor__end {
  color: var(--black-text-color);
}

.header-line__link-title-studio::after {
  display: flex;
  position: absolute;
  background-image: url(../images/heder_std.svg);
  content: '';
  width: 48px;
  height: 4px;
  margin-top: 28px;
}

.header-line__link-contacts-icon::after {
  display: flex;
  position: absolute;
  background-image: url(../images/heder_contacts.svg);
  content: '';
  width: 68px;
  height: 4px;
  margin-top: 28px;
  transform: scaleX(0);
  transition: var(--transition-transform);
}

.header-line__link-std-icon::after {
  display: flex;
  position: absolute;
  background-image: url(../images/heder_portfolio.svg);
  content: '';
  width: 77px;
  height: 4px;
  margin-top: 28px;
  transform: scaleX(0);
  transition: var(--transition-transform);
}

.header-line__link-prt-std-icon:hover:after, .header-line__link-prt-std-icon:focus:after, .header-line__link-contacts-icon:hover:after, .header-line__link-contacts-icon:focus:after, .header-line__link-std-icon:hover:after, .header-line__link-std-icon:focus:after {
  transform: scaleX(1);
}

.header-line__link-portfolio-icon::after {
  display: flex;
  position: absolute;
  background-image: url(../images/heder_portfolio.svg);
  content: '';
  width: 77px;
  height: 4px;
  margin-top: 28px;
}

.header-line__link-prt-std-icon::after {
  display: flex;
  position: absolute;
  background-image: url(../images/heder_std.svg);
  content: '';
  width: 48px;
  height: 4px;
  margin-top: 28px;
  transform: scaleX(0);
  transition: var(--transition-transform);
}

.contacts {
  display: flex;
  align-items: center;
  margin-bottom: 0px;
  height: 16px;
}

.contacts__item:not(:last-child) {
  margin-right: 50px;
}

.link-phone, .link-mail {
  padding-top: 20px;
  padding-bottom: 20px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  text-decoration: none;
  color: var(--prymory-text-color);
  transition: color var(--transition-oll);
}

.link-phone {
  display: flex;
  align-items: center;
  width: 100%;
}

.link-phone:hover, .link-phone:focus {
  color: var(--hover-focus-color);
}

.link-mail {
  display: flex;
  align-items: center;
  width: 100%;
}

.link-mail:hover, .link-mail:focus {
  color: var(--hover-focus-color);
}

.link-mail__icon {
  width: 16px;
  height: 12px;
  margin-right: 10px;
  background-color: #ffffff;
  fill: currentColor;
}

.link-phone__icon {
  width: 10px;
  height: 16px;
  margin-right: 10px;
  background-color: #ffffff;
  fill: currentColor;
}

/* MAIN*/
.radio-btn {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  margin-bottom: 40px;
}

.radio-btn__item:not(:last-child) {
  margin-right: 10px;
}

.radio-btn__item:nth-last-child(n + 2) {
  margin-bottom: 15px;
}

@media screen and (min-width: 768px) {
  .radio-btn {
    display: flex;
    margin-bottom: 30px;
    justify-content: center;
  }
  .radio-btn__item:not(:last-child) {
    margin-right: 10px;
  }
  .radio-btn__item:nth-last-child(n + 4) {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1200px) {
  .radio-btn {
    display: flex;
    margin-bottom: 50px;
    justify-content: center;
  }
  .radio-btn__item:not(:last-child) {
    margin-right: 10px;
  }
}

.radio-btn__oll {
  width: 73px;
  height: 38px;
  left: 495px;
  top: 174px;
  background: #2196f3;
  border-radius: 4px;
  border: 0;
  cursor: pointer;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--whiet-text-color);
}

.radio-btn__oll__oll:hover, .radio-btn__oll__oll:focus {
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.radio-btn__style {
  background-color: #f5f4fa;
  border-radius: 4px;
  border: 0;
  cursor: pointer;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  transition: box-shadow var(--transition-oll), background-color var(--transition-oll), color var(--transition-oll);
}

.radio-btn__style:hover, .radio-btn__style:focus {
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  background: #2196f3;
  color: var(--whiet-text-color);
}

/* BTN-WEB */
.radio-btn__web {
  width: 128px;
  height: 38px;
  left: 576px;
  top: 174px;
}

/* GADGETS */
.radio-btn__gadgets {
  width: 145px;
  height: 38px;
  left: 712px;
  top: 174px;
}

/* DISIGNE */
.radio-btn__disign {
  width: 103px;
  height: 38px;
  left: 865px;
  top: 174px;
}

/* MARKETING */
.radio-btn__marketing {
  width: 130px;
  height: 38px;
  left: 976px;
  top: 174px;
}

.projects__item:not(:nth-last-child(-n + 1)) {
  margin-bottom: 30px;
}

@media screen and (min-width: 768px) {
  .projects {
    display: flex;
    flex-flow: wrap;
    margin-bottom: 0px;
  }
  .projects__item:not(:nth-child(2n)) {
    margin-right: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .projects {
    display: flex;
    flex-flow: wrap;
    margin-bottom: 0px;
  }
  .projects__item:not(:nth-last-child(-n + 1)) {
    margin: 0;
  }
  .projects__item:not(:nth-child(2n)) {
    margin: 0;
  }
  .projects__item:not(:nth-child(3n + 3)) {
    margin-right: 30px;
  }
  .projects__item:not(:nth-last-child(-n + 3)) {
    margin-bottom: 30px;
  }
}

.projects__item {
  outline: 1px solid tomato;
}

.projects__link {
  margin: 0;
  display: block;
  width: 100%;
  height: 100%;
  text-decoration: none;
  transition: box-shadow var(--transition-oll);
}

.projects__link:hover, .projects__link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

@media screen and (min-width: 768) {
  .projects__link {
    display: block;
    width: 354px;
  }
}

@media screen and (min-width: 1200px) {
  .projects__link {
    display: block;
    width: 370px;
  }
}

.progects__overlay {
  position: relative;
  max-width: 450px;
  overflow: hidden;
}

@media screen and (min-width: 768px) {
  .progects__overlay {
    position: relative;
    max-width: 354px;
    overflow: hidden;
  }
}

@media screen and (min-width: 1200px) {
  .progects__overlay {
    position: relative;
    max-width: 370px;
    overflow: hidden;
  }
}

.projects__overlay-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  padding: 49px 24px;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  text-align: start;
  color: var(--whiet-text-color);
}

@media screen and (max-width: 479px) {
  .projects__overlay-text {
    position: absolute;
    top: 50%;
    left: 35%;
    transform: translate(-50%, -50%);
    padding: 0px 24px;
    max-width: 320px;
    text-align: center;
    font-size: 16px;
    line-height: 1.56;
    letter-spacing: 0.03em;
  }
}

.overlay {
  position: absolute;
  width: 450px;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);
  opacity: 0;
  transform: translateY(0);
  transition: var(--transition-transform);
}

.projects__link:focus .overlay,
.projects__link:hover .overlay {
  transform: translateY(-100%);
  opacity: 1;
}

@media screen and (min-width: 768px) {
  .overlay {
    position: absolute;
    max-width: 354px;
    height: 100%;
    background-color: rgba(33, 150, 243, 0.9);
    opacity: 0;
    transform: translateY(0);
    transition: var(--transition-transform);
  }
  .projects__link:focus .overlay,
  .projects__link:hover .overlay {
    transform: translateY(-100%);
    opacity: 1;
  }
}

@media screen and (min-width: 1200px) {
  .overlay {
    position: absolute;
    max-width: 370px;
    height: 100%;
    background-color: rgba(33, 150, 243, 0.9);
    opacity: 0;
    transform: translateY(0);
    transition: var(--transition-transform);
  }
  .projects__link:focus .overlay,
  .projects__link:hover .overlay {
    transform: translateY(-100%);
    opacity: 1;
  }
}

.name-progects {
  max-width: 450px;
  padding-left: 24px;
  padding-right: 24px;
  padding-bottom: 20px;
  padding-top: 20px;
  background-color: #ffffff;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
}

.name-progects__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}

.name-progects__text {
  margin-bottom: 0px;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--prymory-text-color);
}

@media screen and (min-width: 768px) {
  .name-progects {
    max-width: 354px;
    padding-left: 24px;
    padding-right: 24px;
    padding-bottom: 20px;
    padding-top: 20px;
    background-color: #ffffff;
    border-bottom: 1px solid #eeeeee;
    border-left: 1px solid #eeeeee;
    border-right: 1px solid #eeeeee;
  }
  .name-progects__title {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.03em;
    color: var(--title-text-color);
  }
  .name-progects__text {
    margin-bottom: 0px;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.03em;
    color: var(--prymory-text-color);
  }
}

@media screen and (min-width: 1200px) {
  .name-progects {
    max-width: 370px;
    padding-left: 24px;
    padding-right: 24px;
    padding-bottom: 20px;
    padding-top: 20px;
    background-color: #ffffff;
    border-bottom: 1px solid #eeeeee;
    border-left: 1px solid #eeeeee;
    border-right: 1px solid #eeeeee;
  }
  .name-progects__title {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--title-text-color);
  }
  .name-progects__text {
    margin-bottom: 0px;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.03em;
    color: var(--prymory-text-color);
  }
}

/* .footer */
.footer {
  width: auto;
  background-color: var(--background-fone);
  margin-top: 0px;
}

.container-footer {
  padding-top: 60px;
  text-align: center;
  padding-bottom: 60px;
}

.group-footer {
  margin-bottom: 60px;
}

@media screen and (min-width: 768px) {
  .container-footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .group-footer {
    margin-bottom: 60px;
  }
}

@media screen and (min-width: 1200px) {
  .container-footer {
    display: flex;
    justify-content: space-between;
  }
  .group-footer {
    margin: 0;
  }
}

@media screen and (min-width: 1200px) {
  .ftr-block {
    flex-basis: calc((50% - 45px) / 2);
  }
  .ftr-block:last-child {
    flex-basis: calc(50% - 15px);
  }
}

.logo-footer-oll {
  display: block;
  margin-bottom: 20px;
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-decoration: none;
  text-align: center;
}

.logo-footer {
  color: var(--whiet-text-color);
}

.title-ftr-adrs {
  display: inline-block;
  width: 231px;
}

.footer-contacts__link-phone-footer,
.footer-contacts__link-mail-footer {
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
  transition: color var(--transition-oll);
}

.link-adr-footer {
  display: inline-flex;
  width: 231px;
  margin-bottom: 8px;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--whiet-text-color);
  text-decoration: none;
  transition: color var(--transition-oll);
}

.footer-contacts {
  display: block;
  margin-bottom: 0px;
  width: 231px;
  margin-right: 0;
}

.footer-contacts__link-phone-footer:hover, .footer-contacts__link-phone-footer:focus, .footer-contacts__link-mail-footer:hover, .footer-contacts__link-mail-footer:focus {
  color: var(--hover-focus-color);
}

.footer-contacts__item:not(:last-child) {
  margin-bottom: 11px;
}

.link-adr-footer:hover,
.link-adr-footer:focus {
  color: var(--hover-focus-color);
}

.title-link-ftr {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--whiet-text-color);
}

.container-social {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 60px;
  padding-top: 5px;
}

@media screen and (min-width: 768px) {
  .container-social {
    margin: 0;
  }
}

@media screen and (min-width: 1200px) {
  .container-social {
    margin: 0;
    padding-top: 12px;
  }
}

.footer-social {
  display: flex;
  justify-content: center;
  margin-bottom: 0;
}

.footer-social__item:not(:last-child) {
  margin-right: 10px;
}

.footer-social__item {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  transform: scale(1);
  transition: var(--transition-transform);
}

.footer-social__item:hover, .footer-social__item:focus {
  background-color: var(--hover-focus-color);
  transform: scale(1.15);
}

.footer-social__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border-radius: inherit;
  background-color: rgba(255, 255, 255, 0.1);
}

.footer-social__icon {
  width: 20px;
  height: 20px;
  fill: white;
}

.subscription-block {
  width: 100%;
}

.subscription-block__email {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 20px;
  padding-left: 16px;
  padding-top: 15px;
  padding-bottom: 15px;
  width: 100%;
  border: 1px solid rgba(255, 255, 255, 0.3);
  background-color: #2f303a;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
  letter-spacing: 0.03em;
}

@media screen and (min-width: 768px) {
  .subscription {
    width: 100%;
    padding-top: 5px;
  }
  .subscription-block {
    width: 100%;
  }
  .subscription-block__email {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    padding-left: 16px;
    padding-top: 15px;
    padding-bottom: 15px;
    max-width: 450px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    background-color: #2f303a;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    font-size: 16px;
    line-height: 1.25;
    color: rgba(255, 255, 255, 0.6);
    letter-spacing: 0.03em;
  }
}

@media screen and (min-width: 1200px) {
  .subscription {
    max-width: 570px;
    padding-top: 12px;
  }
  .subscription-block {
    width: 100%;
    display: flex;
  }
  .subscription-block__email {
    margin-right: 12px;
    padding-left: 16px;
    padding-top: 15px;
    padding-bottom: 15px;
    width: 358px;
  }
}

.title-link-subscription {
  display: block;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--whiet-text-color);
}

@media screen and (min-width: 1200px) {
  .title-link-subscription {
    text-align: start;
  }
}

/* .icon-send */
.subsription-btn {
  position: relative;
  width: 200px;
  height: 50px;
  padding: 0;
  background-color: #188ce8;
  padding: 10px 62px 10px 29px;
  border-radius: 4px;
  border: 0;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--whiet-text-color);
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  cursor: pointer;
  transition: background-color var(--transition-oll);
}

.subsription-btn:hover, .subsription-btn:focus {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  background-color: var(--hover-focus-color);
}

.subsription-btn__icon {
  position: absolute;
  top: 13px;
  right: 28px;
  width: 24px;
  height: 24px;
}
/*# sourceMappingURL=portfolio.css.map */