.form {
  width: 100%;

  &__modal-title {
  display: block;
  width: 448px;

  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 12px;
}

  &__label-name {
  display: block;
  margin-bottom: 4px;

  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  text-align: start;
  }

}


.form__field {
  width: 448px;
  margin-bottom: 18px;
  position: relative;
}

.form__input {
  width: 100%;
  padding: 12px 12px 12px 42px;
  /* outline-color: #757575; */
  border-radius: 4px;
  outline: 1px solid rgba(33, 33, 33, 0);
  border: 1px solid rgba(33, 33, 33, 0.2);

  transition: fill var(--transition-oll);

  color: var(--prymory-text-color);
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;

  &:focus {
  border: 1px solid #2196f3;
  border-radius: 4px;
  color: var(--prymory-text-color);
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  }
}

.form__input:focus ~ .form__icon {
  fill: var(--hover-focus-color);
}






.form__icon {
  position: absolute;

  left: 12px;
  bottom: 12px;
  width: 18px;
  height: 18px;
  fill: inherit;

  input:focus & {
  fill: #188ce8;
  }
}

.form__textarea {
  border-radius: 4px;
  outline: 1px solid rgba(33, 33, 33, 0);
  border: 1px solid rgba(33, 33, 33, 0.2);
  width: 100%;
  resize: none;
  color: inherit;
  padding: 12px 16px;
  // margin-bottom: 20px;

  color: inherit;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;

  &:focus {
  border: 1px solid #2196f3;
  border-radius: 4px;
  }

}
// .form__field-textarea {
//   margin-bottom: 0;
// }

textarea::placeholder {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;

  color: rgba(117, 117, 117, 0.5);
}


.form__link-dec-condition {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-decoration-line: underline;
  color: #2196f3;

  &:focus {
  outline-color: var(--hover-focus-color);
  }
}


.form__label-name-condition {
  padding-left: 18px;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.form-field-condition {
  display: flex;
  align-items: baseline;
  justify-content: center;
  margin-bottom: 30px;
  min-width: 423px;
}


.form__checkbox {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}





.form__icon-checkbox--on {
  position: absolute;
  top: 2px;
  left: 0;
  width: 18px;
  height: 18px;
  border-radius: 2px;
  opacity: 0;

  .form__checkbox:checked ~ & {
  background-color: var(--hover-focus-color);
  opacity: 1;
  transition: background-color var(--transition-oll);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  }

}


.form__icon-checkbox--off {
  position: absolute;
  top: 2px;
  left: 0;

  width: 18px;
  height: 18px;
  border-radius: 2px;

  .form__checkbox:focus:not(:checked) ~ & {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  stroke: var(--hover-focus-color);
  stroke-width: 2px;
  stroke-opacity: 0.8;
  transition: stroke var(--transition-oll);
  }
}

.btn-send {
  display: block;
  width: 200px;
  height: 50px;
  left: 625px;
  top: 707px;
  border: 0;
  background-color: var(--hover-focus-color);
  border-radius: 4px;

  margin-left: auto;
  margin-right: auto;
  margin-bottom: 25px;
  padding-left: 0;
  padding-right: 0;
  cursor: pointer;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  color: var(--whiet-text-color);
  text-align: center;
  letter-spacing: 0.06em;

  transition: background-color var(--transition-oll);

  &:hover,
  &:focus {
  background-color: #188ce8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  }

}

