.name-progects {
  max-width: 450px;
  padding-left: 24px;
  padding-right: 24px;
  padding-bottom: 20px;
  padding-top: 20px;
  background-color: #ffffff;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;

  &__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  }

  &__text {
  margin-bottom: 0px;

  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--prymory-text-color);


  }
}

@media screen and (min-width: 768px) {
  .name-progects {
  max-width: 354px;
  padding-left: 24px;
  padding-right: 24px;
  padding-bottom: 20px;
  padding-top: 20px;
  background-color: #ffffff;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;

  &__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  }

  &__text {
  margin-bottom: 0px;

  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--prymory-text-color);
  }
}
  
}

@media screen and (min-width: 1200px) {
  .name-progects {
  max-width: 370px;
  padding-left: 24px;
  padding-right: 24px;
  padding-bottom: 20px;
  padding-top: 20px;
  background-color: #ffffff;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;

  &__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-text-color);
  }

  &__text {
  margin-bottom: 0px;

  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--prymory-text-color);
  }
}
  
}