.title-hero {
  // margin-top: 106px;
  // display: inline-block;
  margin-bottom: 30px;

  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
  color: var(--whiet-text-color);

  @media screen and (min-width: 1200px) {
    max-width: 1600px;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--whiet-text-color);
    text-align: center;
  }
}
