
    @media screen and (max-width: 767.98px){
.nav {
  max-width: 767.98px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
}


@media screen and (min-width: 768px){
  .nav {
   display: flex;
  justify-content: space-between;
  align-items: baseline;
  width: 100%;
}
}


// @media screen and (max-width: 767.98px) {
//   .nav {
//     display: none;
//   }
// }
