


@media screen and (max-width: 767.98px) {
  .menu-button {
    z-index: 122;
    // position: absolute;
    top: 10px;
    right: 10px;


    display: inline-flex;
    border: none;
    margin: 0;
    padding: 0;
    background-color: transparent;

     &:hover .menu-button__icon{
      cursor: pointer;
      fill: #2196F3;
    }
    //   position: relative;
    //   display: flex;
    //   justify-content: center;
    //   align-items: center;
    &__icon-close {
      display: none;
    }
  }
  .menu-button__icon {

    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
    transition: color var(--transition-oll);
   
  }
  .menu-button__icon-close {
    position: absolute;

    // top: 50%;
    // left: 50%;
    // transform: translate(-50%, -50%);
  }
  // .menu-button__icon {
  //   position: absolute;
  // }




  .menu-button.is-open {
    
    & .menu-button__icon-close {
      display: block;
    
    }

    & .menu-button__icon-menu {
      display: none;
    }
  }
}

@media screen and (min-width: 768px) {
  .menu-button {
    display: none;
    //   position: relative;
    //   display: flex;
    //   justify-content: center;
    //   align-items: center;
  }
  .menu-button__icon-close {
    display: none;
  }
  .menu-button__icon-menu {
    display: none;
  }
}
